.meus-favoritos{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-favoritos h1{
    margin-bottom: 14px;
}

.meus-favoritos span{
    font-size: 18px;
}

.meus-favoritos ul{
    width: 720px;
}

.meus-favoritos ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-favoritos div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-favoritos div a{
    text-decoration: none;
    color: cornflowerblue;
    margin-right: 14px;
}